.nav {
  background-color: rgba(31, 245, 77, 0.678);
  justify-content: space-between;
  align-items: end;
  offset-distance: initial;
}
.span {
  display: flex;
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: baseline;
  font-weight: bold;
  font-style: italic;
}
.span:hover {
  box-shadow: 0 10px 25px rgb(101, 247, 4);
}
.button {
  background: rgb(148, 243, 4);
  color: black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: larger;
}

.button:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(22, 100, 8, .6);
}
form {
  display: flex;
}